In [1]:
import pandas as pd

In [5]:
#Realiza las siguientes operaciones:

#Crea un dataframe llamado df

#Agrega una nueva columna llamada Edad_en_10_años que contenga la edad de las personas dentro de 10 años.

data = {
    'Nombre': ['Ana', 'Luis', 'Carlos', 'Sara'],
    'Edad': [25, 30, 22, 27],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Bilbao']
}

df = pd.DataFrame(data)
print(df)

   Nombre  Edad     Ciudad
0     Ana    25     Madrid
1    Luis    30  Barcelona
2  Carlos    22   Valencia
3    Sara    27     Bilbao

In [8]:
df['Edad en 10 años'] = df['Edad'] + 10
print(df)

   Nombre  Edad     Ciudad  Edad en 10 anos  Edad en 10 años
0     Ana    25     Madrid               35               35
1    Luis    30  Barcelona               40               40
2  Carlos    22   Valencia               32               32
3    Sara    27     Bilbao               37               37

In [9]:
df['Ciudad'] = df['Ciudad'].str.upper()
print(df)

df['Es mayor de 25'] = df['Edad'] >= 25
print(df)

   Nombre  Edad     Ciudad  Edad en 10 anos  Edad en 10 años
0     Ana    25     MADRID               35               35
1    Luis    30  BARCELONA               40               40
2  Carlos    22   VALENCIA               32               32
3    Sara    27     BILBAO               37               37
   Nombre  Edad     Ciudad  Edad en 10 anos  Edad en 10 años  Es mayor de 25
0     Ana    25     MADRID               35               35            True
1    Luis    30  BARCELONA               40               40            True
2  Carlos    22   VALENCIA               32               32           False
3    Sara    27     BILBAO               37               37            True